@import url(https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Mulish, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


*,
*::before,
*::after{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.page-scaffold{
  overflow-y: auto;
}

.dashboard-sidenav-scaffold{
  overflow-y:auto;
}

.dashboard-sidenav-scaffold::-webkit-scrollbar {
  width: 4px;
}

.dashboard-sidenav-scaffold::-webkit-scrollbar-track {
  background-color: #cccccc;
}

::-webkit-scrollbar-thumb {
  background-color: #684EA0;
  border-radius: 2px;
}

.box-shadow:hover{
  box-shadow: #181a2029 0px 8px 16px;
}
.box-shadow-1{
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.dashboard-sidenav{
  background-image:url("./assets/pattern_h.png");
  background-color:#15283c;
  background-size: cover;
}

button{
  outline:none;
  /* color:#c0c1c4; */
}

.notification-badge {
  font-size: 10px;
  line-height: 16px;
  padding: 2px 6px;
  position: absolute;
  right: -6px;
  top: -6px;
  background: #ff5722;
  border-radius: 100%;
  color: #fff;
  font-weight: 600;
  width: 19px;
  height: 19px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}